*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 37.5px;
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
/* 上下移动 */
.c-cube-1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.13rem;
    margin-left: -.5rem;
    /* alternate:先执行一遍动画，然后再反向执行一遍动画： */
    animation: downAni 1.8s ease-in-out infinite alternate;
}
@keyframes downAni{
    0%{
        transform: translate3d(0);
    }
    100%{
        transform: translate3d(0, -.8rem, 0);
    }
}
/* 左右旋转 */
.c-cube{
    transform-style: preserve-3d;
    transform: rotateX(-33.5deg) rotateY(45deg);
    transform-origin: .5em .5em;
    animation: rightAni 1.2s linear infinite;
}
@keyframes rightAni{
    0%{
        transform: rotateX(-33.5deg) rotateY(45deg);
    }
    100%{
        transform: rotateX(-33.5deg) rotateY(135deg);
    }
}
.c-cube__side{
    position: absolute;
    height: 1em;
    width: 1em;
}
.c-cube__side--font,
.c-cube__side--back,
.c-cube__side--right,
.c-cube__side--left{
    border: 1px solid;
    height: 5em;
    /* #fc0d2100 后两位表示透明度 */
    border-image: linear-gradient(180deg,#ff1224,#fc0d2100) 2;
    /* padding: 1em;
	border: 1em solid transparent;
	background: linear-gradient(white, white) padding-box,
	            repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, 
	              #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0 / 3em 3em;
	
	max-width: 20em;
	font: 100%/1.6 Baskerville, Palatino, serif; */
}
.c-cube__side--font{
    transform: translateZ(.5em);
}
.c-cube__side--back{
    transform: translateZ(-.5em);
}
.c-cube__side--left{
    transform: rotateY(-90deg) translateZ(.5em);
}
.c-cube__side--right{
    transform: rotateY(-90deg) translateZ(-.5em);
}
.c-cube__side--top{
    border: 1px solid #ff1224;
    transform: rotateX(90deg) translateZ(.5em);
}

.loading .line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1.33333rem;
    background: linear-gradient(-180deg,#ff1224,rgba(255,18,36,0));
    animation: speed-line-ani 1.2s linear infinite both;
}
.loading .line-1 {
    margin-top: -2.4rem;
    margin-left: -1.33333rem;
    animation-delay: .2s;
    animation-duration: 1.5s;
}
.loading .line-2 {
    margin-top: -.8rem;
    margin-left: -2rem;
    animation-delay: .1s;
    animation-duration: 1s;
}
.loading .line-3{
    margin-top: -.4rem;
    margin-left: -1.8rem;
    animation-delay: .6s;
    animation-duration: 1.4s;
}
@keyframes speed-line-ani{
    0% {
        opacity: 0;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    20% {
        opacity: 1;
        -webkit-transform: translate3d(0,40%,0);
        transform: translate3d(0,40%,0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0,200%,0);
        transform: translate3d(0,200%,0);
    }
}
